@font-face {
  font-family: indonesia;
  src: url(Indonesia.ttf); }
* {
  text-decoration: none;
  list-style-type: none; }

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: Georgia, serif; }

a {
  color: #FF703A; }

a:hover {
  color: black; }

h1 {
  text-align: center;
  text-decoration: underline; }

#slick-slide00, #slick-slide01, #slick-slide02, #slick-slide03,
#slick-slide04, #slick-slide10, #slick-slide11, #slick-slide12, #slick-slide13 {
  display: none; }

.slick-dots li button {
  display: none; }

.slick-slider {
  margin: 5% auto;
  text-align: center;
  line-height: 2.5em; }

#firstCover:first-child {
  background-color: rgba(255, 213, 197, 0.4); }

.articlesCarousel, .multiple-items {
  padding: 20px;
  color: black;
  width: 80%;
  border: 1px black solid;
  background-color: #fff; }

.articlesCarousel img, .multiple-items img {
  width: 45%;
  border: solid black 3px;
  float: right; }

.articlesCarousel p, .multiple-items p {
  line-height: 3em;
  text-align: left; }

.articlesCarousel a, .multiple-items a {
  float: left;
  font-size: 14px; }

.multiple-items {
  background: rgba(16, 16, 16, 0.9);
  color: black;
  width: 80%; }

.multiple-items img {
  width: 32%;
  float: left;
  margin-left: 50px; }
.multiple-items li {
  width: 53%;
  border: solid black 3px;
  background-color: white;
  margin-right: 30px;
  float: right; }

.articlesCarousel .slick-prev:hover, .multiple-items .slick-prev:hover,
.articlesCarousel .slick-next:hover,
.multiple-items .slick-next:hover {
  opacity: 0.4; }

.articlesCarousel .slick-prev, .multiple-items .slick-prev,
.articlesCarousel .slick-next,
.multiple-items .slick-next {
  width: 55px;
  height: 45px;
  border: solid #FF703A 1px; }

.articlesCarousel .slick-prev:before, .multiple-items .slick-prev:before {
  font-size: 50px;
  opacity: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #FF703A; }

.articlesCarousel .slick-next:before, .multiple-items .slick-next:before {
  font-size: 50px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  color: #FF703A; }

.multiple-items .slick-prev:hover,
.multiple-items .slick-next:hover {
  opacity: 0.4; }

.multiple-items .slick-next,
.multiple-items .slick-prev {
  background-color: black;
  border: 1px black solid;
  opacity: 0.7;
  width: 65px;
  height: 45px; }

.multiple-items .slick-prev:before {
  font-size: 35px;
  opacity: 1;
  position: absolute;
  top: 15%;
  right: 15px;
  color: white; }

.multiple-items .slick-next:before {
  font-size: 35px;
  opacity: 1;
  position: absolute;
  top: 15%;
  left: 15px;
  color: white; }

.multiple-items h2 {
  color: white; }

.thirdCarousel {
  color: black;
  width: 800px;
  border: solid rgba(217, 138, 229, 0.3) 7px;
  text-align: center;
  margin: 0 auto; }

.thirdCarousel .slick-prev:hover,
.thirdCarousel .slick-next:hover {
  opacity: 0.4; }

.thirdCarousel .slick-next,
.thirdCarousel .slick-prev {
  background-color: black;
  border: 1px black solid;
  opacity: 0.7;
  width: 65px;
  height: 45px; }

.thirdCarousel .slick-prev:before {
  font-size: 35px;
  opacity: 1;
  position: absolute;
  top: 15%;
  right: 15px;
  color: white; }

.thirdCarousel .slick-next:before {
  font-size: 35px;
  opacity: 1;
  position: absolute;
  top: 15%;
  left: 15px;
  color: white; }

.thirdCarousel h2 {
  color: white; }

.slider-nav img {
  width: 240px;
  height: 235px; }

.slider-nav {
  border: solid 7px rgba(217, 138, 229, 0.3);
  width: 90%; }

.slick-dots li button {
  display: inline; }

@media only screen and (max-width: 975px) {
  body {
    background-color: lightblue; } }

/*# sourceMappingURL=styles.css.map */
