@import 'colors';
@import 'sizing';
@import 'fonts';

*{
	text-decoration: none; 
	list-style-type: none;

}

body {
	margin: $none;
	padding: $none;
	font-family: sans-serif;
	// background: linear-gradient(to right, $bgLight, $bgDark, $bgLight);
	background-color: #fff;	
}

a {
	color: $aColor;
}

a:hover {
	color: $standard;
}


//sliders
.slick-slider{
	margin: 0 auto;
	text-align: center; 
	line-height: 2.5em; 
}

#slick-slide00, #slick-slide01, #slick-slide02, #slick-slide03, 
#slick-slide04, #slick-slide10, #slick-slide11, #slick-slide12, #slick-slide13  {
	display: none;
}

.slick-dots li button {
	display: none;
}

.articlesCarousel {
	padding: 20px;
	color: $standard;
	width: 95%;
	border: 3px $standard solid;
	background-color: $bgLight;
}

.articlesCarousel img{
	 width: 40%;
	 border: solid $standard 3px;
	 float: right;
}

.slick-next, .slick-prev{
	background: black;
	width: 60px;
	height: 60px;

}


// .slick-prev:before, .slick-next:before {
// 	font-size: 50px; 
// 	opacity: 1;
// 	position: relative;
// 	left: 20px;
// 	// color: red;
// }

//second carousel
.multiple-items {
	@extend .articlesCarousel;
	background: rgba(54, 54, 59, 0.6);
	color: $standard;
	width: 80%;
}

.multiple-items .slick-next, .multiple-items .slick-prev  {
	background: $defBlue;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.multiple-items {
	
	img {
	width: 32%;
	border: solid $defBlue 7px;	
	float: left;
	margin-left: 50px;

	} 

	li {
	width: 53%;
	border: solid $defBlue 7px;	
	background-color: white;
	margin-right: 50px;
	float: right;
	}
}

.slick-prev:hover,
.slick-next:hover, {
    background: black;
}
