@import 'colors';
@import 'sizing';
@import 'fonts';

*{
	text-decoration: none; 
	list-style-type: none;

}

body {
	margin: $none;
	padding: $none;
	font-family: sans-serif;
	// background: linear-gradient(to right, $bgLight, $bgDark, $bgLight);
	background-color: #fff;	
}

a {
	color: $aColor;
}


.slick-slider{
	margin: 0 auto;
	text-align: center; 
	line-height: 2.5em; 
}


// .slick-dots {
// 	background-color: blue
// }

#slick-slide00, #slick-slide01, #slick-slide02, #slick-slide03, #slick-slide04 {
	display: none;
}

.slick-dots li button {
	display: none;
}


.articlesCarousel {
	padding-top: 10px;
	color: $standard;
	width: 95%;
	border: 3px $standard solid;
	background-color: $bgLight;
}

.articlesCarousel img{
	 width: 40%;
	 height: 100%;
	 border: solid $standard 3px;
	 float: right;
}




.slick-next {
	background: black;
	width: 60px;
	height: 60px;
	position: absolute;
	z-index: 1000; 
}

.slick-prev {
	background: black;
	width: 60px;
	height: 60px;
	position: absolute;
}

// .slick-prev:before, .slick-next:before {
// 	font-size: 50px; 
// 	opacity: 1;
// 	position: relative;
// 	left: 20px;
// 	// color: red;
// }

.multiple-items {
	width: 70%;
	border: solid $bgDark 5px;
	height: 40%;
}

.multiple-items img, li {
	width: 50%;
	border: solid red 3px;	
	float: left;
	background-color: white;
	margin: 0 auto;
}

.multiple-items a {
	clear: both;
}

#test {
	width: 90%;
	margin: 0 auto;
}


// .multiple-items li {
// 	width: 40%;
// 	border: solid $bgLight 3px;	
// 	float: left;

// }

