@import 'colors';
@import 'sizing';
@import 'fonts';

*{
	text-decoration: none; 
	list-style-type: none;

}

body {
	margin: $none;
	padding: $none;
	background-color: $peach;	
}

a {
	color: $aColor;
}

a:hover {
	color: $standard;
}


//sliders
.slick-slider{
	margin: 5% auto;
	text-align: center; 
	line-height: 2.5em; 
}

#slick-slide00, #slick-slide01, #slick-slide02, #slick-slide03, 
#slick-slide04, #slick-slide10, #slick-slide11, #slick-slide12, #slick-slide13  {
	display: none;
}

.slick-dots li button {
	display: none;
}

.articlesCarousel {
	padding: 20px;
	color: $standard;
	width: 80%;
	border: 1px $standard solid;
	background-color: #fff;
}

.articlesCarousel img{
	 width: 40%;
	 border: solid $standard 3px;
	 float: right;
}

//second carousel
.multiple-items {
	@extend .articlesCarousel;
	background: rgba(16, 16, 16, 0.9);
	color: $standard;
	width: 80%;
}

.multiple-items {
	img {
	width: 32%;	
	float: left;
	margin-left: 50px;
	} 

	li {
	width: 53%;
	border: solid $standard 3px;	
	background-color: white;
	margin-right: 30px;
	float: right;
	}
}



//first Carousel
.articlesCarousel .slick-prev:hover,
.articlesCarousel .slick-next:hover{
    opacity: 0.4;
}
.articlesCarousel .slick-prev, 
.articlesCarousel .slick-next{
	width: 55px;
	height: 45px;
	border: solid $aColor 1px;
}

.articlesCarousel .slick-prev:before{
    font-size: 50px;
    opacity: 1;
    position: absolute;
    top: 0px;
    right: 0px;
    color: $aColor;
}

.articlesCarousel .slick-next:before{
    font-size: 50px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    color: $aColor;
}

//Second Carousel

.multiple-items .slick-prev:hover,
.multiple-items .slick-next:hover{
    opacity: 0.4;
}

.multiple-items .slick-next, 
.multiple-items .slick-prev{
	background-color: $standard;
	border: 1px $standard solid;
	opacity: 0.7;
	width: 65px;
	height: 45px;
}

.multiple-items .slick-prev:before{
    font-size: 35px;
    opacity: 1;
    position: absolute;
    top: 15%;
    right: 15px;
    color: white;	
    // vertical-align: text-bottom;
}

.multiple-items .slick-next:before{
    font-size: 35px;
    opacity: 1;
    position: absolute;
    top: 15%;
    left: 15px;
    color: white;	
}

.multiple-items h2 {
	color: white;
}


